<app-modal #modal>
  <ng-container slot="content">
    <h4 i18n="@@project.title">{{ title }}</h4>

    <div class="form-group mb-5">
      <label class="cursor-pointer fw-bold mb-1" for="name-form-control" i18n="@@employee.name"> Name: </label>
      <input class="form-control" type="text" id="name-form-control" [formControl]="nameFormControl" />
      <app-form-errors [control]="nameFormControl"></app-form-errors>
    </div>
      <div class="form-group mb-5">
          <label class="cursor-pointer fw-bold mb-1" i18n="@@project.color"> Color: </label>
          <div class="input-group">
              <input class="form-control" type="text" id="color-form-control"
                     [formControl]="colorFormControl"
                     placeholder="Hex color code"/>
              <button class="btn btn-outline-secondary" type="button" (click)="showColorPicker = !showColorPicker">
                  <i class="bi bi-eyedropper"></i>
              </button>
          </div>
          <app-form-errors [control]="colorFormControl"></app-form-errors>
          <div *ngIf="showColorPicker" class="mt-2">
              <color-chrome
                      [color]="colorFormControl.value"
                      (onChangeComplete)="onColorChange($event)">
              </color-chrome>
          </div>
      </div>
      <div class="form-group mb-5">
          <label class="cursor-pointer fw-bold mb-1" i18n="@@project.workLocation">Has to be on premises:</label>
          <select class="form-select" [formControl]="remoteFormControl">
              <option *ngFor="let option of workLocationOptions" [ngValue]="option.value">
                  {{ option.label }}
              </option>
          </select>
      </div>
  </ng-container>
  <div slot="footer" class="d-flex justify-content-between">
    <app-button (click)="addProject()" [disabled]="isDisabled()" i18n="@@add">{{ submitButtonText }}</app-button>
    <app-button variant="gray" (click)="modal.dismiss()" i18n="@@cancel">Cancel</app-button>
  </div>
</app-modal>
