<div class="d-flex flex-row">
  <h3 class="m-0 flex-grow-1">Planning</h3>
</div>

<div class="table-wrapper mt-3 mb-6 bg-white shadow-sm">
  <table>
    <tr>
      <th (click)="previousWeek()" class="d-flex justify-content-start"><i class="bi bi-caret-left"></i></th>
      <th colspan="6" style="text-align: center">WK {{ getWeekNumber() }}</th>
      <th (click)="nextWeek()" class="d-flex justify-content-end"><i class="bi bi-caret-right"></i></th>
    </tr>
    <tr>
      <th></th>
      <th>{{ nthDayOfWeek(0) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(1) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(2) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(3) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(4) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(5) | date: "dd.MM.yyyy" }}</th>
      <th>{{ nthDayOfWeek(6) | date: "dd.MM.yyyy" }}</th>
    </tr>
    @for (employee of pagedEmployees.results; track employee) {
      <tr class="bg-gray-50-hover cursor-pointer">
        <th>{{ employee.name }} {{ employee.surname }}</th>
        @for (day of [0, 1, 2, 3, 4, 5, 6]; track day) {
            <td>
                <ng-select
                        [ngModel]="getAssignment(employee.id, nthDayOfWeek(day))?.projectId"
                        (ngModelChange)="updateAssignment(employee.id, nthDayOfWeek(day), $event)"
                        [multiple]="false"
                        [searchable]="true"
                        [disabled]="isWeekend(day)"
                        [ngbTooltip]="isWeekend(day) ? 'Assignments cannot be added on weekends' : null"
                        placement="top"
                        [clearable]="true"
                        style="width: 100%"
                        [style.--selected-project-bg-color]="getProjectColor(getAssignment(employee.id, nthDayOfWeek(day))?.projectId)">

                    @for (project of projects; track project) {
                        <ng-option
                                [value]="project.id"
                                [disabled]="employee.worksRemotely && project.mustBeOnPremises"
                                [ngbTooltip]="(employee.worksRemotely && project.mustBeOnPremises) ? ('Employee works remotely and cannot be assigned to this on-premises project.') : null"
                                placement="top" >
                            {{ project.name }}
                        </ng-option>
                    }
                </ng-select>
            </td>

        }
      </tr>
    }
  </table>
</div>
<ngb-pagination
        [pageSize]="pagedEmployees.pageSize"
        [collectionSize]="pagedEmployees.totalItems"
        (pageChange)="changePage($event)"
        [boundaryLinks]="true"
        [page]="pagedEmployees.currentPage">
</ngb-pagination>
